@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');




    .slider {
        width: 70%;
        margin: 0 auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      /*transition: all ease-in-out .3s;*/
      opacity: .2;
    }
    
    .slick-active {
      opacity: 10;
    }

    .slick-current {
      opacity: 1;
    }







#mainimg{background-image: url(../img/mainimg.jpg); width: 100%; height: ; background-size: cover; background-repeat: no-repeat; background-position: center center;;}


.prev{width: 80px; height: 79px; float: left;padding-top: 192px; padding-right: 75px;}



.next{width: 80px; height: 79px;float: left;padding-top: 192px; padding-left: 66px;}




.poster_btn{padding-top: 50%}
.poster_btn div {width: 150px; height: 50px; border: 1px solid #fff; text-align: center; line-height: 50px;  margin: 0 auto;margin-top: 2%}
.poster_btn div:nth-child(1){margin-top: 0}
.poster_btn div a{color: #fff;text-decoration: none;;font-weight: 300;font-size: 1rem}

/* 메인이미지 포스터 롤오버 효과 */
.poster1, .poster2, .poster3, .poster4{position: relative; overflow: hidden;  }
.hover{position: absolute; width: 100%; height: 100% ;background-color: rgba(0,0,0,0.7); top: 0px ; color: #fff; transform: translate(0, 100%) ;transition: all 0.5s }
.poster1:hover .hover, .poster2:hover .hover, .poster3:hover .hover,.poster4:hover .hover {transform: translate(0,0)}



/* 메인이미지 포스터 롤오버 효과 끝 */
.event{width: 100%; height: 1111px; ; margin: 0 auto; }
.event_title {padding-top: 111px; padding-bottom: 101px;position: relative; height: 34px}
.event_title:before{width: 100%; height:2px; background-color: #333333; position: absolute; content: "";display: inline-block; top:127px}

.event_title h2{ width: 21%; height: 34px; background-color: #fff; text-align: center; position: absolute; left: 0;right: 0; margin: 0 auto;;font-weight: 700;font-size: 2rem; line-height: 34px}


.event_set{width: 1051px; height: 504px;  ; padding-left: 126px}


.event_set1, .event_set2, .event_set3{float: left; padding-right: 60px}
.event_set div:nth-child(3){padding-right: 0}




    .event .tabs .slider {
        width: 70%;
        margin: 0 auto;
    }

    .event .tabs .slick-slide {
      margin: 0px 20px;
    }

    .event .tabs .slick-slide img {
      width: 100%;
    }

    .event .tabs .slick-prev:before,
   .event .tabs .slick-next:before {
      color: black;
    }


    .event .tabs .slick-slide {
      /*transition: all ease-in-out .3s;*/
      opacity: .2;
    }
    
    .event .tabs .slick-active {
      opacity: 10;
    }

    .event .tabs .slick-current {
      opacity: 1;
    }




.event .tabSet{
	margin-bottom:30px;
 
}
/*ul{
	overflow:hidden;
	padding:20px 20px 0;
	background-color:#31374c;
}*/




   .event .tabs{width: 100%; margin: 0 auto}
	.event .tabs li{
       width:33%;
		float:left;
		padding:0 2px 0 0;
		list-style-type:none;
       
	}
   .event .tabs li img{width: 100%; }
.event .tabs li a{outline: none}
.event .tabs li a.on{outline: none}



		/*.event ul li a{
			float:left;
			color:#fff;
			/*background:#0b1023;
			padding:.5em 2.75em;
			display:none;
			border-radius:3px 3px 0 0;
			font-weight:bold;
			font-size:14px;
			text-decoration:none;
		}
		.event ul li a:hover{
			text-decoration:underline;
		}
		.event ul li a.on{
			background:#fff;
			cursor:default;
			color:#31374c;
             
            
		}
		.event ul li a.on:hover{
			text-decoration:none;
      
		}*/
.event .panels{
	background:#fff;

}
.event .panel{
	
	font-size:14px;
	color:#4d4d4d;
}
        
.e_detail{ background-color: #196ab3; width:100%; ; border-radius:4px; position: relative; color: #fff; }
.mo_e_detail{ background-color: #196ab3; width:calc(100% - 20px); ; border-radius:4px; position: relative; color: #fff; margin:35px 10px 5px 10px; display: none }
.mo_e_detail .ribbon,.mo_e_detail .text_box,.mo_e_detail .sidebar, .mo_e_detail .download{}

.mo_e_detail .sidebar{width: 80%; height: 1px; border-bottom: 1px solid #5792c8 ; opacity: 0.3; margin: 0 auto}



.mo_e_detail .text_box{;box-sizing: border-box}
.mo_e_detail .text_box h2 {text-align: center; padding-top: 35px;; font-size: 1.3rem;font-weight: 700}
.mo_e_detail .text_box p{color: #a5bcda; padding-top: 21px; font-size: 0.75rem;font-weight: 400;text-align: center;padding: 58px 0 28px 0}


.mo_e_detail .ribbon{position: absolute; left: -3px; bottom: -6px}

.mo_e_detail .download{width: 100%; ;;box-sizing: border-box;;text-align: center; padding: 28px 0 ; font-family: 'Noto Sans KR', sans-serif;font-size: 1.6rem;font-weight: 800}




.e_detail .ribbon,.e_detail .text_box, .e_detail .sidebar,.e_detail .download{float: left}
.e_detail .ribbon{position: absolute; left: -3px; bottom: -6px}
.e_detail .text_box{width: 70%; padding-left: 7%;box-sizing: border-box}
.e_detail .text_box h2 {; padding-top: 35px;; font-size: 1.3rem;font-weight: 700}
.e_detail .text_box p{color: #a5bcda; ; padding-top: 21px;font-size: 0.75rem;font-weight: 400}
.e_detail .text_box p span:nth-child(1){padding-right:23px; }
.e_detail .sidebar{width: 1px; height: 90px; border-right: 1px solid #5792c8 ; opacity: 0.3; margin-top: 20px;margin-left: 5%}
.e_detail .download{width: 20%; padding-left: 5%; line-height: 130px; font-size: 26px;box-sizing: border-box;font-family: 'Noto Sans KR', sans-serif;font-size: 1.6rem;font-weight: 800}
.e_detail:after,.mo_e_detail:after{content: '';display: block; clear: both}


.service{width: 100%; ; background-color: #f8f8f8; color: #999999 ; }
.service .icons {padding: 106px 0 }
.icons li {width: 16%; text-align: center; float: left; }
.icons li p{padding-bottom: 20px;;font-size: 1rem;font-weight: 500}


/* 아이콘 트랜스폼 효과*/
.icons li img{transform: scale(1);transition: all 0.3s}
.icons li:hover img{transform: scale(1.2)}
/* 아이콘 트랜스폼 효과 끝*/






#prevBtn{position:absolute;left:0;top:10px;display: none}
#nextBtn{position:absolute;right:15px;top:10px;display: none}

.bestdownload h2{text-align: center; padding-top: 120px;padding-bottom: 50px; ; color: #333333 ;;font-size: 2rem;font-weight: 700}
.download_set{}


.download_set li div h3{padding-top: 41px ; ;color: #333333;;font-size: 1.3rem;font-weight: 700}
.download_set li div p {padding-top: 26px;; line-height: 26px;color:#999999;;font-size: 0.8rem;font-weight:500 }

.magazine{width: 100%; background: url(../img/magazine.png) no-repeat  ; background-position: bottom; ; background-color: #196ab3;;  color: #fff}
.magazine h2 {; text-align: center; padding-top: 110px;;font-size: 2rem;font-weight: 700;}
.magazine_set {width: 80% ;padding: 140px 0 168px 0 ; margin: 0 auto; }
.magazine_set div{width: 25% ; float: left; ; text-align: center}
.magazine_set div:nth-child(4){padding-right: 0}
.magazine_set div p{padding-top: 41px;;font-size: 1.2rem;font-weight: 700}
.magazine_set:after{content: '';display: block;clear: both}
/* 매거진 트랜스폼 효과*/
.magazine_set>div>i>img{transform: scale(1);transition: all 0.3s}
.magazine_set>div:hover>i>img{transform: scale(1.2)}
/* 매거진 트랜스폼 효과 끝*/

/*.preview{width: 100%; height: 280px; background-image: url(../img/preview.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;color: #fff}*/
/*.btn_set{width: 100%; text-align: center; padding-top: 87px;color: #fff}*/
/*슬라이드 버튼 수정*/
.preview{position: relative; }
.preview>div{width: 100%; height:280px;  background-image: url(../img/preview.jpg);background-repeat: no-repeat;}
.preview>div>img{width: 100%}



.btn_set{width: 100%;  ;position: absolute ;bottom: 20% ; color: #fff;text-align: center;  }

.btn_set .name{; ;font-size: 2rem;font-weight: 500}
.btn_set .info{ ;font-size: 0.8rem;font-weight: 300}





.notice p{width: 100%; height: 80px;margin: 0 auto; font-size: 14px;line-height: 80px; color: #999999; padding-left: 6px;font-size: 0.9rem;font-weight: 300}
.notice p span{width: 10% ; float: left; color: #333333 ;font-weight: 500}



/*sub2*/





/*sub3*/









/*sub4*/








/*sub5*/








/*sub6*/

/*메인 포스터 미니 슬라이드 */


/*프리뷰 슬라이드 */



/*.preview .bxslider>div:nth-child(1){width: 100%; height: 280px; background-image: url(../img/preview.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center}
.preview .bxslider>div:nth-child(2){width: 100%; height: 280px; background-image: url(../img/preview.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;}
.preview .bxslider>div:nth-child(3){width: 100%; height: 280px; background-image: url(../img/preview.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;}
.preview .bxslider>div:nth-child(4){width: 100%; height: 280px; background-image: url(../img/preview.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;} 없애기 */
@media all and (max-width:1200px){
    
 .event .tabs .slick-slide img {
      width: 80%;
    margin:  0 auto;
    }
    .e_detail{ background-color: #196ab3; width:100%; ; border-radius:4px; position: relative; color: #fff; display: none}
.mo_e_detail{ background-color: #196ab3; width:calc(100% - 20px); ; border-radius:4px; position: relative; color: #fff; margin:35px 10px 5px 10px; display: block}
    
}

@media all and (max-width:1110px){
    
    
    
   
    
    #mainimg{background-image: url(../img/mainimg_mo.jpg); width: 100%; height: auto; background-size: cover; background-repeat: no-repeat; background-position: center center;;}
    
   .event .tabs .slick-slide img {
      width: 70%;
    margin:  0 auto;
    }
    
 .event .tabs li{
       width:50%;
		float:left;
		padding:0 0px 0 0;
		list-style-type:none;
	}

    

    
.service{width: 100%; ; background-color: #f8f8f8; color: #999999 ;;margin:30% 0 0 0 }
.service .icons {padding:61px 0; }
.service .icons li {width: 33.3%; text-align: center; float: left; padding: 39px 0}
.service .icons li p{padding-bottom: 20px}
   
}




@media all and (max-width:768px){

      
    
       .poster1, .poster2, .poster3, .poster4{position: relative; overflow: hidden; margin: 60% 0 }
      .event .tab .slick-slide img {
      width: 70%;
    }
    .event_title h2{ width: 33%; height: 34px; background-color: #fff; text-align: center; position: absolute; left: 0;right: 0; margin: 0 auto;;font-weight: 700;font-size: 2rem; line-height: 34px}


 .event .tabs li{
       width:40%;
		float:left;
		padding:0 0px 0 0;
		list-style-type:none;
	}

    
    
    

    
    

    
   
    
    .icons {padding: 106px 0}
.icons li {width: 33.3%; text-align: center; float: left; }
.icons li p{padding-bottom: 20px}
 
    

    


    .event .tabs .slick-slide img {
      width:60%;
        margin: 0 auto
    }
    
    
    
  
.magazine{width: 100%; background: url(../img/mo_magazine.png) no-repeat  ; background-position: bottom; background-size: contain; background-color: #196ab3;;  color: #fff}
.magazine h2 {; text-align: center; padding-top:58px; ;}
.magazine_set {width: 100% ;padding: 68px 0 68px 0 ; margin: 0 auto; }
.magazine_set div{width: 50% ; float: left; ; text-align: center}
    .magazine_set div:nth-child(1),.magazine_set div:nth-child(2){padding-bottom: 57px}
.magazine_set div:nth-child(4){padding-right: 0}
.magazine_set div p{padding-top:30px;;font-size: 1.2rem;font-weight: 700}
    .magazine_set>div>i>img{width: 39px}
.magazine_set:after{content: '';display: block;clear: both}
/* 매거진 트랜스폼 효과*/
.magazine_set>div>i>img{transform: scale(1);transition: all 0.3s}
.magazine_set>div:hover>i>img{transform: scale(1.2)}
/* 매거진 트랜스폼 효과 끝*/
    
    
    
   .preview{position: relative; }
.preview>div{width: 100%; height:266px;  background-image: url(../img/preview_mo.jpg); background-repeat: no-repeat;}
.preview>div>img{width: 100%}



.btn_set{width: 100%;  ;position: absolute ;bottom: 10% ; color: #fff;text-align: center;  }


 
    
.notice p span{width: 15% ; float: left; color: #333333 }

    
  
}



